<!DOCTYPE html>
<html>
<head>
  <title>Connect 4 Endpoints</title>
</head>
<body>
  <div class="container" style="margin-left: 20%; ">
    <h1>Connect 4 Endpoints</h1>
    <ul>
      <li>
        <h4>api/start</h4>
        <p>Use this endpoint to start game & get the token.</p>
      </li>
      <li>
        <h4>api/insert?token=1234&column=1&player=1</h4>
        <p>Use this endpoint to insert coin into column, pass the token, column & player as params.</p>
      </li>
      <li>
        <h4>api?token=1234</h4>
        <p>Use this endpoint to get all the moves of that particular game upto that instance.</p>
      </li>
    </ul>
  </div>
</body>
</html>